* {
  margin: 0;
  padding: 0;
}

header {
  padding-left: 20px;
  background-color: white;
  height: 60px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: black;

}

#logo {
  vertical-align: middle;
}

body {
  background-color: #F6F8F9;
}

.white-boxes {
  background-color: white;
  width: 50%;
  height: 750px;
  margin: 50px auto;
  padding: 8px 9px 10px 11px;
} /*--- nota: padding: 10px(top) 11px(right) 12px(bottom) 13px(left); ---*/

.header-box {

}
.add-task {
  display: inline-block;
  background-color: #47ADF1;
  padding: 5px 15px;
  border-width: 0;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.add-section {
  display: inline-block;
  background-color: white;
  padding: 5px 5px;
  border: 1px solid #C5CBD0;
  border-radius: 5px;
  color: #C5CBD0;
  cursor: pointer;
}

.all-list .new-task:before {
  content: "\25bc"
}

.all-list {
  list-style: none;
  border: 1px solid #F6F8F9;
  margin: 5px -15px;
}

.new-task {
  margin: 40px 30px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.new-task-list {
  list-style: none;
  margin-top: 5px
}

.checked {
  display: inline-block;
}

li .checked:before {
  content: '\2714';
  font-size: 15px;
  font-weight: 100;
}

.not-checked {
  display: inline-block;
}

li .not-checked:before {
  content: '\2718';
  font-size: 15px;
  font-weight: 100;
}

.editorial {
  background-color: #47ADF1;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.q1-goals {
  background-color: #9C72E4;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.recruiting {
  background-color: #64C0A9;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.mobile {
  background-color: #F29E33;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.website {
  background-color: #D863A1;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.sales {
  background-color: #B0C926;
  padding: 5px 10px;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}
